@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

#ui-wrapper{
    display: grid; 
    grid-template-columns: 57% 43%; 
    width: 100%; 
}
.hero-wrapper{
    grid-column: 1;
    grid-row: 1/2;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.container{
    width: 60%;
    margin: auto;
}
.logo-bar{
    height: 80px;
    margin-top: 60px;
}
.cta-wrapper{
    margin-top: 90px;
    width: 600px;
}
.cta-wrapper h1{
    font-size: 80px;
    font-weight: 200;
    text-transform: uppercase;
    color: #ce9797;
    letter-spacing: 10px;
}
.cta-wrapper h2{
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.cta-wrapper p{
    line-height: 30px;
    color: #ce9797;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    padding-right: 30px;
    width: 500px;
}
.cta-form{
    margin-top: 30px;
}
.email-input{
    height: 50px;
    width: 350px;
    color: #ce9797;
    border-radius: 40px;
    border: solid 2px #ce9797;
    padding: 10px 50px 10px 20px;
    outline: none;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 15px;
}
::placeholder{
    color: #ce9797;
}
.btn-submit{
    height: 50px;
    width: 80px;
    border-radius: 40px;
    background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
    border: none;
    position: absolute;
    margin-left: -40px;
    box-shadow: 6px 3px 10px -1px hsl(229, 6%, 66%);
}
.btn-submit:hover{
    background: linear-gradient(135deg,#ffffff, #e6baba); 
    cursor: pointer;
    outline: none;
}

.input--error {
    border: 2px solid hsl(0, 93%, 68%);
    color: #111;
  }
  
  .label--error::before {
    content: "!";
    display: block;
    position: absolute;
    top: 1rem;
    right: 7rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: #fefefe;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    background-color: hsl(0, 93%, 68%);
  }
  
  .label--error::after {
    display: block;
    content: "Please provide a valid email";
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    color: hsl(0, 93%, 68%);
  }
  
  .label--success::after {
    display: block;
    content: "Your email address has been added successfully!";
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #111;
  }
  
.hero-image-wrapper{
    grid-column: 2;
    grid-row: 1/2;
    height: 100vh;
    width: 100%;
}
.hero-image-wrapper img{
    height: 100%;
    width: 100%;
}

footer{
   margin-top: 160px;
   color: #ce9797;
}

@media(max-width:900px){
    #ui-wrapper{
        grid-template-columns: 100%;
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .hero-wrapper{
        grid-column: 1;
        grid-row: 2/2;
    }
    .hero-image-wrapper{
        grid-column: 1;
        grid-row: 1/2;
        height: 275px;
        width: 100%;
        margin-top: 100px;
    }
    .logo-bar{
        background:#fff;
        height: 80px;
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .logo-bar img{
       height: 30px;
       width: 140px;
       margin: 15px 30px;
    }
    .cta-wrapper{
        width: 100%;
        text-align: center;
    }
    .cta-wrapper h1{
        font-size: 60px;
    }
    .cta-wrapper h2{
        font-size: 40px;
    }
    .cta-wrapper p{
        padding: 15px;
        width: auto;
        font-size: 15px;
    }
    .cta-form{
        margin-top: 50px;
    }
    .email-input{
        width: 300px;
        height: 45px;
    }
    .btn-submit{
        height: 45px;
        width: 60px;
    }
.btn-submit:hover{
    background: linear-gradient(135deg,#ffffff, #e6baba); 
    cursor: pointer;
    outline: none;
}
    footer{
        margin-bottom: 30px;
    }

}
